# `pandas` - tasks

In [1]:
# import pandas 
import pandas as pd

In [5]:
# create a variable called data that is a pd.DataFrame
data = pd.DataFrame({
    'a': [1.0, 1.1, 0.4, 2.1, 5.8, 1.3, 2.8, 5.4, 3.2, 1.0],
    'b': [0.5, 0.8, 0.1, 0.2, 0.4, 0.5, 0.1, 0.1, 0.5, 0.0]
})

In [8]:
# Print the names of the columns and index using an f-string
print(f'Columns:\n{data.columns}\nIndex:\n{data.index}')

Columns:
Index(['a', 'b'], dtype='object')
Index:
RangeIndex(start=0, stop=10, step=1)

In [19]:
# Sort the dataframe using data.sort_values
data.sort_values(by=['a'], ascending=False)

     a    b
4  5.8  0.4
7  5.4  0.1
8  3.2  0.5
6  2.8  0.1
3  2.1  0.2
5  1.3  0.5
1  1.1  0.8
0  1.0  0.5
9  1.0  0.0
2  0.4  0.1

In [9]:
# use data.head to get the first 2 rows
data.head(2)

     a    b
0  1.0  0.5
1  1.1  0.8

In [22]:
# get the length of the dataframe
len(data)

10

In [23]:
# get the mean of column 'a'
data.mean()['a']

2.4099999999999997

In [24]:
# get the standard deviation of column 'b'
data.std()['b']

0.2573367875415838

In [25]:
# get the sum of 'a'
data.sum()['a']

24.099999999999998

In [27]:
# get the sum of 'a' and 'b' for each row
data.sum(axis=1)

0    1.5
1    1.9
2    0.5
3    2.3
4    6.2
5    1.8
6    2.9
7    5.5
8    3.7
9    1.0
dtype: float64

In [28]:
# get the maximum value in column 'a'
data.max()['a']

5.8

In [32]:
# write a function that returns the sum of the minimum values in each column
def minimum_sum(df: pd.DataFrame) -> float:
    return df.min().sum()

minimum_sum(data)

0.4

In [33]:
# make a copy of the dataframe
data.copy()

     a    b
0  1.0  0.5
1  1.1  0.8
2  0.4  0.1
3  2.1  0.2
4  5.8  0.4
5  1.3  0.5
6  2.8  0.1
7  5.4  0.1
8  3.2  0.5
9  1.0  0.0

In [36]:
# use .loc to get the first 6 values of column 'a'
data.loc[:5, 'a']

0    1.0
1    1.1
2    0.4
3    2.1
4    5.8
5    1.3
Name: a, dtype: float64

In [39]:
# use .iloc to get the last 4 values of column 'b'
data.iloc[-4:, 1]

6    0.1
7    0.1
8    0.5
9    0.0
Name: b, dtype: float64

In [40]:
# create column 'c' which is column 'a' squared
data['c'] = data['a'] ** 2

In [41]:
print (data['c'])

0     1.00
1     1.21
2     0.16
3     4.41
4    33.64
5     1.69
6     7.84
7    29.16
8    10.24
9     1.00
Name: c, dtype: float64